<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <connectionStrings>
    
    <add name="constr" connectionString="server=123.56.70.108;database=Work_Study;uid=sa;pwd=owowanglea*98"/>
  </connectionStrings>
</configuration>