<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <connectionStrings>
    <!--<add name="cnstr" LAPTOP-H8805F4V  iZrxagnay1guciZ connectionString="Data Source= 123.56.70.108;Initial Catalog=Work_Study;Integrated Security=SSPI"/>-->
    <add name="cnstr" connectionString="server=123.56.70.108;database=Work_Study;uid=sa;pwd=123"/>
  </connectionStrings>
</configuration>