#div0 {
    width: 900px;
    height: 140px;
    margin-left: 20%;
    background: rgba(0,0,0,0);
    border-radius: 5px;
}
#divs {
    width: 900px;
    height: 500px;
    margin-left: 20%;
    background: white;
    border-radius: 5px;
}
#divv {
    height: 870px;
    background: rgba(0,0,0,0);
}
#Panel2 {
    height: 38px;
    width: 196px;
    float: right;
    margin-top: -2%;
    margin-right: 3%;
}
#Image3 {
    margin-left: 10%;
    margin-top: -2%;
}

#Image0 {
    margin-top: -3%;
    margin-left: 30%;
}
#ImageButton1 {
    margin-top: 12%;
    margin-left: 22%;
    border-radius: 60px;
}

#ImageButton2 {
    margin-top: 12%;
    margin-left: 22%;
    border-radius: 60px;
}

#ImageButton3 {
    margin-top: 12%;
    margin-left: 22%;
    border-radius: 60px;
}
#div1 {
    width: 30%;
    height: 140px;
    margin-left: 2%;
    float: left;
}

#div2 {
    margin-left: 60%;
    margin-top: -23%;
}

#div3 {
    width: 30%;
    height: 140px;
    float: left;
    margin-left: 4%;
}

#div4 {
    margin-left: 60%;
    margin-top: -23%;
}

#div5 {
    width: 30%;
    height: 140px;
    float: left;
    margin-left: 2%;
}

#div6 {
    margin-left: 60%;
    margin-top: -23%;
}

#Label8 {
    float: left;
    font-size: 25px;
}

#HyperLinks {
    margin-left: 21%;
}

#HyperLinkss {
    margin-left: 2%;
}
#right {
    background: rgba(0,0,0,0);
    width: 245px;
    height: 260px;
    border: 1px solid #1ecdb9;
    margin-left: 70%;
    border-radius: 15px;
    margin-top: -35%;
}
#Button发布兼职2 {
    display: block;
    width: 200px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #1ecdb9;
    font-size: 14px;
    color: #1ecdb9;
    margin-bottom: 25px;
    cursor: pointer;
    background: rgba(0,0,0,0);
    margin-left: 9%;
}
#Button我的信息 {
    display: block;
    width: 200px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #1ecdb9;
    font-size: 14px;
    color: #1ecdb9;
    margin-bottom: 8px;
    cursor: pointer;
    background: rgba(0,0,0,0);
    margin-left: 9%;
}