#divs {
    width: 900px;
    height: 680px;
    margin-left: 26%;
    background-color: white;
    border-radius: 5px;
}

#divv {
    height: 870px;
    background: rgba(0,0,0,0);
}
#HyperLinks {
    margin-left: 28%;
}

#HyperLinkss {
    margin-left: 2%;
}
#Image发布兼职 {
    margin-left: 41%;
    margin-top: 32%;
    margin-bottom: 6%;
}
