
    #Panel2 {
    margin-top: 18px;
    float: right;
}

#Image2 {
    margin-top: -7%;
}

#Panel4 {
    margin-left: 20%;
    margin-top: 10%;
}

#Panel5 {
    margin-left: 20%;
    margin-top: 5%;
}

#HyperLink1 {
    margin-left: 30%;
    font-size: 20px;
   
}

#HyperLink2 {
    margin-left: 30%;
    font-size: 20px;
}

#HyperLink3 {
    margin-left: 30%;
    font-size: 20px;
}

#HyperLink4 {
    margin-left: 30%;
    font-size: 20px;
}

#HyperLink5 {
    margin-left: 30%;
    font-size: 20px;
}

#HyperLink6 {
    margin-left: 30%;
    font-size: 20px;
}

#Panel6 {
    margin-top: -31%;
    margin-left: 40%;
}
#Image4 {
    margin-left: 80%;
    margin-top: -40%;
}
#Label8 {
    margin-left: 5%;
}

#Label9 {
    margin-left: 5%;
}

#Label10 {
    margin-left: 5%;
}

#Label11 {
    margin-left: 5%;
}

#Label12 {
    margin-left: 10%;
}

#Label13 {
    float: right;
    margin-right: 5%;
}

#Label14 {
    margin-left: 5%;
}

#Label15 {
    margin-left: 10%;
}

#Label16 {
    float: right;
    margin-right: 5%;
}

#Label17 {
    margin-left: 5%;
}

#Label18 {
    margin-left: 5%;
}

#Label19 {
    float: right;
    margin-right: 5%;
}

#Label20 {
    margin-left: 5%;
}

#Label21 {
    margin-left: 8%;
}

#Label22 {
    float: right;
    margin-right: 5%;
}

#Label23 {
    margin-left: 5%;
}

#Label24 {
    margin-left: 5%;
}

#Label25 {
    float: right;
    margin-right: 5%;
}

#Label26 {
    margin-left: 5%;
}

#Label27 {
    margin-left: 5%;
}

#Label28 {
    float: right;
    margin-right: 5%;
}

#Label29 {
    margin-left: 5%;
}

#Label30 {
    margin-left: 5%;
}

